/* Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Utility*/


/*Position*/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0px;
}

/*classi leyout*/

.container {
  max-width: 1200px;
}



/*header*/

header {
  background-color: #FF6801;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header ul li a {
  text-decoration: none;
  color: white;
  display: inline;
  font-weight: 600;
  padding: 5px;

}

li {
  display: inline;
}

header img {
  height: 30px;
}

.head {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

header i {
  color: white;
  padding: 5px;
}

.icone {
  margin-left: 100px;
}